# R
.Rhistory
.RData
.Rproj.user


#scripts
scripts/dup_scripts
scripts/proposal_Biostat

# Data
data/

#GDS downloads
GDCdata/

# Outputs
#results/
#figures/


#logfiles
logs/

# OS
.DS_Store
Thumbs.db
.vscode/

my_workspace.RData
*.RData
*.rds
*.log
.Rprofile
MANIFEST.txt
analysis/
environment/
